@model RentBoat.WebSite.Areas.Customer.Models.RegisterNewBoatViewModel
@{
    ViewBag.Title = "RegisterIsSuccesful";
}

<h2>Register was succesful</h2>

<h2> @Html.DisplayNameFor(m => m.BoatNumber) = @Model.BoatNumber</h2>

